.home-outer-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home-img {
  width: 100vw;
}

.home-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100%;
  background-color: var(--clr-light-overlay);
}

.home-content-container {
  position: absolute;
  transform: translate(-50%, 0%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 50%;
}

.home-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  color: #fff;
}

.home-text-container h1 {
  font-family: var(--ff-oswald);
  font-weight: 400;
  font-size: var(--fs-xl);
  margin: 0;
}

.home-text-container p {
    font-family: var(--ff-montserrat);
    font-size: var(--fs-reg);
    margin: 0;
}

.home-button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  min-width: 175px;
  text-align: center;
  font-size: 12pt;
  color: var(--clr-darkblue);
  background: var(--clr-lightblue);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.home-button:hover {
  background-color: var(--clr-blue);
}