.carousel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-container.with-main{
    flex-direction: row;
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-left: 10px;
    padding-bottom: 50px;
}

.main-item {
    width: 100%;
    transition: transform 0.3s ease;
    margin-right: 20px;
}

.side-items {
    display: flex;
    justify-content: center;
    width: 100%;
}

.side-item {
    margin: 0 20px; /* Spacing between items */
    transition: transform 0.3s ease;
}

.arrow {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-right: 50px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}