.text-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    height: 450px;
    padding: 30px 60px;
    text-align: center;
    background-color: var(--clr-marble);
    border-radius: 10px;
}

.text-card h2 {
    font-family: var(--ff-oswald), sans-serif;
    font-size: calc(var(--fs-reg) + 10px);
    font-weight: 600;
    color: var(--clr-darkblue);
    margin: 0;
}

.text-card p {
    font-size: calc(var(--fs-sm) + 3px);
    text-align: left;
    font-family: var(--ff-montserrat);
    line-height: 24px;
    font-weight: 400;
    color: var(--clr-darkblue);
}
