.product-card {
  z-index: 1;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 10px;
  max-width: 350px;
  height: 100%;
  background-color: #fff;
  text-align: center;
  padding: 38px;
  position: relative;
}

.product-img {
  border-radius: 10px;
  max-width: 350px;
  height: 300px;
  flex-shrink: 1;
}

.product-card h2 {
  font-size: var(--fs-reg);
  font-family: "Courier New", Courier, monospace;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--clr-darkblue);
  margin: 0;
}

.product-card p {
  margin: 0;
  font-size: var(--fs-reg);
  color: var(--clr-darkblue);
}

.product-card div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}