.product-card {
  z-index: 1;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 10px;
  max-width: 350px;
  height: 100%;
  background-color: #fff;
  text-align: center;
  position: relative;
  align-items: center;
  padding-block: 20px;
}

.product-img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  flex-shrink: 1;
}

@media(min-width: 768px)
{
  .product-card{
    min-height: 450px;
  }
  .product-img{
    height: 300px;
    max-width:max-content;
    width: auto;
  }
}


.product-card h2 {
  font-size: var(--fs-reg);
  font-family: "Courier New", Courier, monospace;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--clr-darkblue);
  margin: 0;
  text-wrap: wrap;
  padding-inline: 30px;
}

.product-card p {
  margin: 0;
  font-size: var(--fs-reg);
  color: var(--clr-darkblue);
}

.product-card div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}