:root{
    --fs-sm: 12px;
    --fs-reg: 16px;
    --fs-xl: 40px;

    --ff-oswald: "Oswald", sans-serif;
    --ff-montserrat: "Montserrat", sans-serif;
    --ff-default: "Oswald";

    --clr-white: #fff;
    --clr-marble: #eef7fb;
    --clr-lightblue: #c3edff;
    --clr-darkblue: #1c2635;
    --clr-blue: #52a9ce;
    --clr-light-overlay: rgba(0, 0, 0, 0.35);
    --clr-dark-overlay:  rgba(0,0,0, .55)
}

body{
    margin: 0;
    padding: 0;
}

ol, ul{
    padding: 0;
}

*, *::before, *::after
{
    box-sizing: border-box;
}