.question-outer-wrap
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-block: 20px;
}

.question-content-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}


@media(min-width: 968px)
{
    .question-outer-wrap{
        flex-direction: row;
        margin: 0;
    }
    .question-content-container{
        height: 100vh;
        width: 50vw;
    }
}

.question-heading-wrap {
  display: flex;
  justify-content: center;
}

.question-heading{
  color: #1c2635;
  margin: 0 !important;
  text-align: center;
  font-size: var(--fs-xl);
}

.answer-container {
  height: 40px;
  min-width: 150px;
  font-size: 12pt;
  color: #1c2635;
  padding-left: 12px;
  border: 1px solid var(--clr-blue);
  background: #fff;
  border-radius: 5px;
}

button{
  cursor: pointer
}

.answer-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    text-align: left;
}

.answer-container:hover {
  transition: 0.2s;
  background-color: rgba(168, 168, 168, 0.3);
}

.answer-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  gap: 10px;
  list-style: none;
}

.bottom-buttons-container {
  display: flex;
  gap: 15px;
}

.go-back-button {
  color: var(--clr-darkblue);
  width: 40px;
  text-decoration: underline;
  background: var(--clr-white);
  border: none;
  font-size: 12pt;
}

.go-back-button:hover {
  font-weight: 500;
}

.next-question-button {
  background: var(--clr-lightblue);
  border: none;
  border-radius: 5px;
  height: 40px;
  padding-inline: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 12pt;
  color: #1c2635;
}

.active-answer {
  background: rgb(123, 123, 123, 0.3) !important;
}

.next-question-button img{
  margin-left: 5px;
}

.next-question-button:hover {
  transition: 0.2s;
  background-color: var(--clr-blue);
}

.question-error-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error{
  color: red;
  margin-left: 10px;
}